.data_field {
  margin: 16px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  span {
    color: rgb(39, 39, 39);
    font-size: 1.1em;
  }

  input {
    background-color: rgb(235, 255, 254);
    cursor: text;
    border: 2px solid rgb(170, 170, 170);
    padding-left: 6px;
    width: auto;
    padding: 5px;
  }
}
