.inta_btn {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  box-shadow: 0px 10px 49px -7px rgba(0, 0, 0, 0.75);
}

.dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  //   background-color: white;
  margin-left: 2.2px;
  margin-right: 2.2px;
  @apply bg-primary-content-light;
  animation: wave 1.33s ease-in-out infinite;

  &:nth-child(2) {
    animation-delay: -1.1s;
  }

  &:nth-child(3) {
    animation-delay: -0.9s;
  }
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-7px);
  }
}
