.btn {
  background-color: rgb(13, 59, 184);
  color: white;
  padding: 6px 12px;
  font-size: 1.1em;
  border-radius: 6px;
  cursor: pointer;
}

.container {
  background: rgb(91, 90, 110);
  background: linear-gradient(
    300deg,
    rgba(91, 90, 110, 1) 0%,
    rgba(217, 217, 217, 1) 100%
  );
}

.doctor_card {
  box-shadow: 5px 4px 24px -12px rgba(0, 0, 0, 0.75);
}

.stats_elem {
  .stat_name {
    color: rgb(77, 77, 77);
    font-size: large;
  }

  .stat_value {
    color: rgb(51, 51, 51);
    font-size: x-large;
    font-weight: 500;
  }
}

.action_icon {
  background-color: rgb(233, 243, 255);
  height: auto;
  width: 42px;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }

  &:nth-child(1) {
    color: rgb(42, 192, 134);
  }
  &:nth-child(2) {
    color: rgb(192, 102, 42);
  }
  &:nth-child(3) {
    color: rgb(70, 42, 192);
  }
}

.status_dot {
  // background-color: green;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 6px;
}
